.RightUpper{
    width: 300px;
    padding: 12px;
    border-radius: 8px;
}
.NewsContainer{

    display: flex;
    justify-content: space-between;
}
.infoImg{
    height: 20px;
}
.RightUpper{
    background-color: white;
}
.RightUpper ol {
    font-size: 15px;
    list-style-type: disc;
    padding-left: 24px;
    font-weight: 600;
    margin-top: 12px;
  }
  .RightUpper ol li{
    margin-top: 10px;
  }
.LinkedNews{
    font-weight: 600;
}
.readers{
    margin-top: 8px;
    color:#736355;
    font-size: 13px;
    font-weight: 200;
}
.listItems{
    margin-top: 25px;
}
.RightSecond{
    margin-top: 30px;
}
.Unilever{
    height:45px;
}
.companyInfo{
    display: flex;
    margin-top: 20px;
    padding: 9px;
    border-bottom: 1px solid #736355;
}
.uni{
    font-weight: 600;
}
.Company{
    font-size: 13px;
    color: #736355;
    margin-top: 3px;
}
.follow{
    font-size: 14px;
    padding: 7px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 17px;
    width: 160px;
}
.feetcontainer{
    padding: 12px;
    display: flex;
    justify-content: space-between;
}
.Rightlower{
    background: white;
    padding-bottom: 17px;
    border-radius: 12px;
}
.lin{
    height: 35px;
}
.LinkedInfo{
    display: flex;
    gap: 16px;
    margin-top: 20px;
    padding: 9px;
    border-bottom: 1px solid #736355;
    padding-left: 30px;
}
.myntraInforr{
    display: flex;
    gap: 6px;
    margin-top: 20px;
    padding: 9px;
    border-bottom: 1px solid #736355;
    padding-left: 30px;
}
.myn{
    height: 30px;
}
.RightThird{
    margin-top: 30px;
    /* border-radius: 12px; */
}